* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange {
  color: #ff764d;
}

.blue {
  color: blue;
}

/* Primary Navigation-bar */
nav {
  padding: 10px;
  height: 65px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}

#right-nav :last-child {
  font-size: 16px;
}

#logo > img {
  width: 60px;
  height: 40px;
}

#left-nav {
  padding-right: 500px;
}

/* Responsive for Navbar */
@media screen and (max-width: 768px) {
  #left-nav,
  #right-nav {
    display: none;
  }
}

/* Secondary Navigation bar */
ul {
  display: flex;
  padding: 20px;
  list-style: none;
}

li a {
  padding: 10px;
  text-decoration: none;
  color: #000;
}

/* Hero-Section */
#hero img {
  width: 80%;
}

#hero h1 {
  position: absolute;
  left: 39%;
  font-size: 6rem;
}

/* Text-Section */
.text {
  margin: 8% 20%;
}

.text h1 {
  font-size: 1.8rem;
  line-height: 1.4;
}

.text p {
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 1.5;
}
